$main-color: beige;

body{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
    // margin: 10em;
}

// .main-container{
//     display: flex;
//     // flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     margin: 10em;
// }
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 23em;
    height: 27em;
    padding: 50px;
    margin-top: 4em;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1{
    font-family: sans-serif;
    color: black;
} 

.callout{
    background: rgba(255,206,92,0.5);
    // opacity: 0.5;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
}

p{
    font-family: sans-serif;
    color: black;
}

// label{
//     font-family: sans-serif;
//     color: white;
//     padding: 10px;
//     font-weight: bolder;
// }
  
input{
    width: 30em;
    height: 3em;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 10px;
    margin-top: 1em;
    &::placeholder{
        color:black;
        opacity: 1;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
}



button{
    width: 31em;
    height: 4em;
    padding: 10px;
    margin-top: 25px;
    font-weight: bolder;
    background-color: #FFCE5C;
    color: black;
    border-radius: 10px;
}

a{
    color:white;
}