$main-color: #3D4951;

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
input{
    width: 40em;
}

button{
    width: 40em;
}