@import "./variables.scss";

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1{
    font-family: $font-style;
    color: $accent-color1;
} 

.callout{
    background: $main-color-half-opacity;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    font-family: $font-style;
    color: $accent-color1;
    font-weight: 400;
}

p{
    font-family: $font-style;
    color: $accent-color1;
}

// label{
//     font-family: sans-serif;
//     color: white;
//     padding: 10px;
//     font-weight: bolder;
// }
  
input{
    width: 30em;
    height: 3em;
    font-family: $font-style;
    padding: 5px;
    border-radius: 10px;
    margin-top: 1em;
    &::placeholder{
        color:$accent-color1;
        opacity: 1;
        font-family: $font-style;
        font-weight: bold;
        font-size: 15px;
    }
}



button{
    width: 31em;
    height: 4em;
    padding: 10px;
    margin-top: 25px;
    font-weight: bolder;
    background-color: $main-color;
    color: $accent-color1;
    border-radius: 10px;
}


