#memes_container{
    display: flex;
    justify-content: center, space-between;
    height: 200px;
    align-items: center;
}

#error_img{
    justify-content: center;
    height: 600px;
    width: auto;
}
