#memes_container{
    display: flex;
    justify-content: center, space-between;
    height: 200px;
    align-items: center;
}

#error-img{
    justify-content: center;
    height: 200px;
    width: auto;
}
#error-message{
    color: black;
    font-family: sans-serif;
}