@import "./variables.scss";

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1em;
}

#navbar_logo{
    height: 5em;
}

ul{
    list-style: none;
    display: flex;
    align-content: row;
}

li{
    padding-left: 1rem;
    padding-right: 1rem; 
}

a,li{
    text-decoration: none;
    font-family: $font-style;
    font-size: 20px;
    font-weight: bolder;
    color:$accent-color2;
    margin-top: 20px;
}

a:hover{
    color: $accent-color1;
}

#name1{
    color: $accent-color1;
}

#name2{
    color: $accent-color2;
}

#login,#signup2, #upload, #logout{
    color: $accent-color1;
    &:hover{
        color: $accent-color2;
    }
}