#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1em;
}

#navbar_logo{
    height: 5em;
}

ul{
    list-style: none;
    display: flex;
    align-content: row;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
}

li{
    padding-left: 1rem;
    padding-right: 1rem; 
}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    // color: red;
    // #signup{
    //     color:black
    // }
}

#signup, #home{
    color: white;
}

#login,#signup2{
    color: black;
}