@import "./variables.scss";

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1em;
}

#navbar_logo{
    height: 5em;
}

ul{
    list-style: none;
    display: flex;
    align-content: row;
}

li{
    padding-left: 1rem;
    padding-right: 1rem; 
}

a, li{
    text-decoration: none;
    font-family: $font-style;
    font-size: 20px;
    font-weight: bolder;
    color:$accent-color2;
    margin-top: 20px;
}

#signup, #home{
    color: $accent-color2;
}

#login,#signup2, #loggedin{
    color: $accent-color1;
}