<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Oops!</title>
</head>
<body>
    <a href="/"><img id="navbar_logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Laugh Factory Logo"></img></a>
    <div class="error-card">
        <h1 id="error-message">Well this is awkward!</h1>
        <h2>Looks like something went wrong!</h2>
        <img id="error-image" src="../static/images/awkwardsmile.jpg" alt="awkward smile">
    </div>
</body>
</html>