<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="navbar">
        <div id='navbar_logo_container'>
            <a href="/"><img id="navbar_logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Laugh Factory Logo"></img></a>
        </div>
        <div id='navbar_links'>
            <ul id='ul'>
                <li><a id="home" href="/">Home</a></li>
                <li><a id="signup2" href="/signup">Sign Up</a></li>
            </ul>
           
        </div>
    </nav>
    <div class="main-container">
        <div class="login-card">
            <h1>Log In</h1>
            <div class="callout">Get ready to add to the laughs!</div>
            <form action="POST">
                <!-- <label for="email" id="email-label">Email</label> -->
                <input placeholder="EMAIL"type="email" name="email" id="email">
                <!-- <label for="password" id="password-label">Password</label> -->
                <input placeholder="PASSWORD" type="password" name="password" id="password">
                <button class="form-button">CREATE ACCOUNT</button>
            </form>
        </div>
    </div>
</body>
</html>