{% extends "base.html" %}
{% block title %}Log In{% endblock %} 
{% block content %}

<div class="card">
    <h1>Log In</h1>
    <div class="callout">Get ready to add to the laughs!</div>
    <form action="" method="POST">
        <!-- <label for="email" id="email-label">Email</label> -->
        <input placeholder="EMAIL"type="email" name="email" id="email">
        <!-- <label for="password" id="password-label">Password</label> -->
        <input placeholder="PASSWORD" type="password" name="password" id="password">
        <button class="form-button">LOG IN</button>
    </form>
</div>

{% endblock %}