<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit your Meme!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav id="navbar">
        <div id='navbar_logo_container'>
            <a href="/"><img id="navbar_logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Laugh Factory Logo"></img></a>
        </div>
        <div id='navbar_links'>
            <ul id='ul'>
                <li id="signup" ><a  href="/signup">Sign Up</a></li>
                <li><a id="login" href="/login">Log In</a></li>
            </ul>
           
        </div>
    </nav>
    <div class="main-container">
        <div class="upload-card">
            <h1>Submit Memes</h1>
            <div class="callout">Share some funny memes!</div>
            <form action="POST">
                <!-- <label for="name" id="name-label">Name</label> -->
                <input placeholder="NAME" type="text" name="name" id="name">
                <!-- <label for="meme" id="meme-label">Meme</label> -->
                <input placeholder="MEME URL" type="url" name="meme" id="meme">
                <!-- <label for="caption" id="caption-label">Caption</label> -->
                <input placeholder="CAPTION" type="text" name="caption" id="caption">
                <button>SUBMIT YOUR MEME</button>
                <a id="goback" href="/">Go Back</a>
            </form>
        </div> 
    </div>
</body>
</html>