<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share your Meme!</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <nav id="navbar">
        <div id='navbar_logo_container'>
            <a href="/"><img id="navbar_logo" src="./static/images/logo.jpg" alt="Laugh Factory Logo"></img></a>
        </div>
        <div id='navbar_links'>
            <ul id='ul'>
                <li id="signup" ><a  href="signup">Sign Up</a></li>
                <li><a id="login" href="login">Log In</a></li>
            </ul>
           
        </div>
    </nav>
</body>
</html>