{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
    <!-- rendering post data from database starts here -->
    <div id="posts">
      {% for post in posts %}
      <div class="card">
        <div class="meme-card-header">
        <div class="user-container">
          <a class="user" href="/posts/{{post.user.username}}">{{post.user.username}}</a>
        </div> 
        
          {% if user.id == post.author %}
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
          {% endif %}
        
        </div>
        <!-- rendering url & text from related post starts here -->
        <img class="meme" src="{{post.url}}" alt="user's meme">
        <div class="caption-container">
          <div class="user">
            {{post.user.username}}
          </div>
          <div class="caption"> 
            {{post.text}}
          </div>
        </div>
        <div class="comments-container">
          <div class="collapse" id="comments-{{post.id}}">
            <div>
              <div class="comments-expanded" id="comments-expanded-{{post.id}}">
                {% for comment in post.comments %}
                <div class="d-flex justify-content-between comment-align">
                  <div>
                    <a class="user" href="/posts/{{comment.user.username}}">{{comment.user.username}}</a> 
                    {{comment.text}}
                  </div>
                  <div class="comment-align">
                    <small class="text-muted"> {{comment.date_created}}</small>
                    {% if user.id == comment.author or user.id == post.author %}
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                      ></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a
                            href="/delete-comment/{{comment.id}}"
                            class="dropdown-item"
                            >Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- rendering comments from related post starts here -->
          <div class="view-comments">
            {% if post.comments|length > 0 %}
            <a id="view-comments" data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
              View {{post.comments|length}} Comments
            </a>
            {% else %}
            <div class="no-comment">No Comments</div>
            {% endif %}
          </div>
          <form
            class="comment-form"
            method="POST"
            action="/create-comment/{{post.id}}"
          >
            <input
              type="text"
              id="text"
              name="text"
              
              placeholder="Comment something!"
            />
            <button class="comment-button" type="submit">Comment</button>
          </form>
        </div>
        <div class="timestamp-container">
          <div id="timestamp" class="text-muted">{{post.date_created}}</div>
        </div>
      </div>
      <br/> {% endfor %}
    </div>
    {% block footer %}
    <div>
      <a href="/create-post"
        ><button class="beige-button">
          Add your own Meme!
        </button></a>
    </div>
    {% endblock %} 
{% endblock %}